* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --buttonColor: #d16e2c;
  --footerBackgroundColor: #25263d;
  --academyColor: #979ae8;
  --backgroundSecondary: rgba(250, 250, 250, 1);
  --colorSecondary: rgb(146, 146, 146);
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif, Verdana, Arial;
  color: #000;
  background: #fff;
}

html {
  overflow-x: hidden;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* WRAPPER */

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 75%;
  height: 110vh;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 15%;
  align-items: center;
}

.nav-list {
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}

.btn {
  display: inline-block;
  border: none;
  padding: 15px 20px;
  background: none;
  border: 2px solid var(--buttonColor);
  border-radius: 5px;
  cursor: pointer;
  color: var(--buttonColor);
  font-weight: 700;
  font-size: 16px;
}

.logo {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.content {
  display: flex;
  height: 70vh;
  align-items: center;
  flex-direction: column;
}

.content-kiri {
  width: 40%;
  height: 50vh;
  margin-left: 20px;
}

.content-kanan {
  width: 80%;
}

.content-judul {
  font-size: 70px;
}

.content-subjudul {
  font-size: 1.5em;
  font-weight: 400;
  margin: 30px 0;
}

.btn-content {
  display: inline-block;
  border: none;
  padding: 15px 20px;
  background: var(--buttonColor);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 16px;

}

.content-gambar {
  width: 100%;
}

.cardcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 30%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 10px 10px 10px rgb(236, 236, 236);
  padding: 0 50px;
  margin-top: 200px;
}

.gambar {
  width: 50%;
  height: 150px;
}

.cardText {
  font-size: 15px;
  text-align: center;
}

.cardjudul {
  font-size: 18px;
  text-align: center;
  padding: 10px 0 20px 0;
}

.content1 {
  display: flex;
  flex-direction: row;
}

.content2 {
  display: flex;
  height: 70vh;
  align-items: center;
  flex-direction: column;
}

.judul {
  align-items: center;
  font-size: 50px;
}

.judultext {
  margin-top: 50px;
  font-size: 1em;
  font-weight: 400;
  width: 65%;
  text-align: center;
}

.schools {
  background: var(--backgroundSecondary);
  padding: 250px 0 50px 0;
  margin-top: 450px;
  width: 100%;
}

.atas {
  grid-template-columns: repeat(4, 1fr);
}

.bawah {
  grid-template-columns: repeat(4, 1fr);
}

.atas,
.bawah {
  width: 100%;
  display: grid;
  grid-gap: 120px;
  padding: 50px;
  margin-top: 20px;
}

.logoPartner {
  width: 150px;
  height: 100px;
  margin: 0 auto;
}

.logoPartnerkalbis {
  width: 300px;
}

.guru {
  display: flex;
  height: 70vh;
  align-items: center;
  flex-direction: column;
  flex-direction: row;


}

.content-kiri-guru {
  width: 90%;
}

.content-kanan-guru {
  width: 50%;
  margin-left: 10%;
}

.gambar-guru {
  width: 60%;
}

.kecil-guru {
  color: var(--colorSecondary);
  margin: 20px 0;
}

.judul-guru {
  font-size: 40px;
}

.text-guru {
  font-size: 1.0em;
  font-weight: 200;
  margin: 20px 0;
}

.india {
  display: flex;
  height: 70vh;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.content-children {
  display: flex;
  flex-direction: row;
}

.content-kiri-children {
  width: 70%;
  height: 50vh;

}

.text-children {
  padding: 40px 0 20px 30px;
}

.text-children:before {
  content: open-quote;
  position: absolute;
  font-size: 5em;
  margin-top: -60px;
  margin-left: -25px;
  color: rgb(55, 52, 180);
}

.user {
  display: flex;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.nama {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.content-kanan-children {
  width: 90%;
}

.img-children {
  width: 100%;
  padding-left: 100px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 1px;
  box-shadow: 20px 0 10px rgb(236, 229, 229);
}

.homeschooling {
  display: flex;
  height: 70vh;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  margin-top: -10%;
}

.searchjoin {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--academyColor);
  padding: 50px 0;
  margin-top: 100px;
}

.judul-join {
  font-size: 40px;
  text-align: center;
}

.subjudul-join {
  font-size: 1.2em;
  font-weight: 600;
  margin: 30px 0;
  text-align: center;
  padding: 10px;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
}

.form-input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  position: relative;
}

.btn-search {
  width: 50%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  position: relative;
}


.footer {
  width: 200%;
  background: var(--footerBackgroundColor);
  color: white;
  padding: 75px 0 50px 0;
  margin-top: 100px;
}

.footerContainer {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.kiri-footer {
  width: 20%;
}

.kanan-footer {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer-link {
  color: white;
}

.footer-item {
  margin: 20px 0;
}

.logo-footer {
  color: white;
  padding: 0;
}

.people {
  padding: 100px 0 50px 0;
}

.number {
  font-size: 30px;
  letter-spacing: 2px;
}